*{
    padding: 0%;
    margin: 0%;
}
.header{
    display: flex;
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header__img{
    flex: 2;
}
.header__tag1{
flex: 5.5;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin-top: 40px;
   justify-content: center;
}
.header__tag1 a{
    padding: 0px, 30px;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}
.header__tag1 a ::after{
    content: "";
    height: 5px;
    width: 0px;
    color: tomato;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5% ease-in-out;
}

.header__tag1 a :hover::after{
    width: 50%;
}
.header__tag2{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.header__tag2 > span{
    font-size: 14px;
    margin-top: 5px;
}

/* end header*/
.content{
    display: flex;
}
.content__tag1{
    flex: 2;
    margin-right: 20px;
}
.content__body{
    flex: 6;
    margin-left: 20px;
    margin-right: 20px;
}
.content__tag2{
    flex: 2;
}
/* .footer-background{
    height: 100px;
    width: 100%;
    background-color: beige;
} */
.fbCaNhan{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    
}
.fbCaNhan > a{
    text-decoration: none;
    font-size: 20px;
}


/* @media screen {
    .content{
        display: flex;
        flex-direction: column;
    }
    .content__body{
        width: auto;
    }
} */
